h1{
    background:#ebebeb;
       font-size: 18px;
       color: darkgray;
       font-weight: normal;
       box-sizing: border-box;
       text-align: center;
       width: 960px;
       height:100px;
       margin: 10px 150px;
       position: relative;
       padding: 40px; 
       
       
}
body{
    background:#ebebeb;
    font-size: 18px;
    color: darkgray
}
nav{
    background:#ebebeb;
       box-sizing: border-box;
       box-sizing: border-box;
       text-align: center;
       width: 960px;
       height:100px;
       margin: 10px 150px;
       position: relative;
       padding: 40px; 
       
       
}
section{
    background:#ebebeb;
    font-size: 18px;
    box-sizing: border-box;
    width: 540px;
    height: 350px;
    text-align: center;
    padding: 40px;
    margin: 20px 150px;
}
article{
    background: darkgray;
    font-size: 18px;
    box-sizing: border-box;
    width: 520px;
    height: 240px;
    text-align: center;
    padding: 20px;
    position: relative;
    top: -290px;
    left:160px;
    color: white
}


section article{
    
    position: relative;
    width: 75%;
    height: 75%;
    margin: auto;
    margin-top: 25%;

    }

h2{
    background: #ebebeb;
    font-size: 18px;
    box-sizing: border-box;
    width: 500px;
    height: 80px;
    text-align: center;
    padding: 24px;
    position: relative;
    top: -490px;
    left: 170px;
}
p{
    background: #ebebeb;
    font-size: 18px;
    box-sizing: border-box;
    width: 500px;
    height: 80px;
    text-align: center;
    padding: 24px;
    position: relative;
    top: -494px;
    left: 170px;
}

aside{
    background: #ebebeb;
    position: relative;
    font-size: 18px;
    box-sizing: border-box;
    width: 400px;
    height: 350px;
    text-align: center;
    display: inline-block;
    top: -11px;
    left: -135px;
    padding: 30px;
       
       

}
footer{
    background: #ebebeb;
       font-size: 18px;
       box-sizing: border-box;
       text-align: center;
       width: 960px;
       height:100px;
       margin: -450px 150px;
       position: relative;
       padding: 40px; 
}

.lineup {
    display: inline-block;
    
    
    
}